.invoice-table{

    width:100%;

    margin-top:25px;

    border-collapse:collapse;

    background:var(--card);

    border-radius:18px;

    overflow:hidden;

    border:1px solid var(--border);

}

.invoice-table th{

    padding:20px;

    text-align:left;

    color:var(--muted);

    font-size:14px;

    background:#172235;

}

.invoice-table td{

    padding:20px;

}

.invoice-table tbody tr{

    border-top:1px solid var(--border);

    cursor:pointer;

    transition:.25s;

}

.invoice-table tbody tr:hover{

    background:#24324a;

}