:root {
  --bg: #0F172A;
  --sidebar: #111827;
  --card: #1E293B;
  --border: #334155;

  --primary: #3B82F6;
  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;

  --text: #F8FAFC;
  --muted: #94A3B8;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--bg);
    color:var(--text);
    font-family:Inter,sans-serif;
}